@import "tailwindcss";

@font-face {
  font-family: "Fredoka";
  src: url("./fonts/Fredoka-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nothing";
  src: url("./fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
}

@theme {
  --color-black: #111111;
  --color-pink: #f7a9b7;
  --color-blue: #55cefd;
  --color-light-blue: #aae7fe;
  --color-purple: #a6bbda;
  --color-grayish: #e2dde7;
}

body {
  @apply relative min-w-screen min-h-screen;
}
